# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

POSTGRES_USER=postgres
POSTGRES_PASSWORD=CREATE_YOUR_OWN
POSTGRES_DB=mydb

# use this when running locally
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

# use this when running through docker networks (like with docker compose)
INNER_DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"

# `openssl rand -base64 32`
NEXTAUTH_SECRET=CREATE_YOUR_OWN
# Set the domain to what is being used in dev or prod.
# If domain is localhost, other people will be redirected to
# localhost:3000/todos on login instead of https://domain.com/todos
NEXTAUTH_URL=http://localhost:3000/
# in prod: NEXTAUTH_URL=https://example.com/

# Create a Github OAuth app here: https://github.com/settings/developers
# Paste in the stuff
GITHUB_ID=
GITHUB_SECRET=